MYSQL_USER=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_PASSWORD='vuhoanggiang203'
MYSQL_DATABASE='final'
JWT_SECRET='jwtYWwgRRQabYLmxy5pk4irFBoKOmQmDgSDIG1uGPdlqpA='
NODE_ENV=production
API_URL=http://localhost:3000
AVIATIONSTACK_API_KEY=b1f2cf8e51ff6e323f7ee7f4815ff907
